<form [formGroup]="form" (ngSubmit)="submit()">
  <h2 mat-dialog-title>{{ 'Pelicula' }}</h2>
  <mat-dialog-content class="mat-typography">

    <div fxLayout="row" fxLayoutAlign="start start">
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Nombre</mat-label>
        <mat-icon matSuffix class="secondary-text">person</mat-icon>
        <input name="company" formControlName="name" matInput>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start">
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Estado</mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let status of listStatus" [value]="status.status">
            {{ status.status === 1 ? 'ACTIVO' : 'INACTIVO' }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="text-center">
      <button mat-raised-button color="primary" [disabled]="!form.valid">Crear pelicula!</button>
    </div>
  </mat-dialog-actions>
</form>
