<form [formGroup]="form" (ngSubmit)="submit()">
  <h2 mat-dialog-title>{{ 'Horarios' }}</h2>
  <mat-dialog-content class="mat-typography">
    <mat-form-field>
      <input matInput type="datetime-local" placeholder="Choose a date" [formControl]="form.get('datetime')">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="text-center">
      <button mat-raised-button color="primary" [disabled]="!form.valid">Crear horario!</button>
    </div>
  </mat-dialog-actions>
</form>
