<mat-list>
  <div mat-subheader>Horarios</div>
  <mat-list-item *ngFor="let future of getFutureSchedules">
    <mat-icon color="primary" mat-list-icon>alarm_on</mat-icon>
    <div mat-line> {{future.datetime | date:'short'}} </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <div mat-subheader>Horarios pasados</div>
  <mat-list-item *ngFor="let pass of getPassSchedules">
    <mat-icon color="warn" mat-list-icon>alarm_on</mat-icon>
    <div mat-line> {{pass.datetime | date: 'short'}} </div>
  </mat-list-item>
</mat-list>
